<h1><%= series.name %>e</h1>

<div class="genreTag"><%=series.genre%></div>
</br>
<h5>Description:</h5>

<p><%= series.description%></p>

<h1>Stories</h1>

<ul>
  <% series.stories.forEach(story => { %>
  <li>
    <a href="/series/<%= series.id %>/stories/<%= story.id %>/edit"
      ><%= story.title %></a
    >
    <form
      action="/series/<%= series.id %>/stories/<%= story.id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>