
  <h1 class="pageHeader"><%= series.name %></h1>
  <h6>Created By:<%=series.creator%></h6>
<div class="card-panel red lighten-4 small-box"><%=series.genre%></div>
</br>
<h5>Description:</h5>

<p><%= series.description%></p>
<form action='/series/<%=series._id%>?_method=DELETE' method='POST'>
  <button  class="btn btn-danger btn-sm" >DELETE ENTIRE SERIES </button>
<ul>
<h1>Stories</h1>

  <% series.stories.forEach(story => { %>
  <li><div class="card-panel red lighten-2" id="story-list">
    <a id="link" href="/series/<%= series.id %>/stories/<%= story.id %>"
      ><h6><%= story.title %></h6></a
    ></div>
    <form 
      action="/series/<%= series.id %>/stories/<%= story.id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
</form>
</br>
</br>
<h4>Create a New story</h4>
<form action="/series/" method="POST">
    <div class="form-group">
        <label for="title">Story Title</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
  <div class="form-group">
    <label for="storyText">Story Body</label>
    <input type="text" class="form-control" id="storyText" name="storyText" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


